# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files
*~

# Executable
sensitivity

# Something annoying
*.sconsign*

# Directories
simulation_data
sensitivity_data
sim-result*
plots*

# Data files
*.params
